.catContainer {
    padding-top: 150px;
    min-height: 100%;
    font-size: 120%;
    background-color: green;
    padding-bottom: 60px;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.catContainer h1, h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
}

.catImgContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.catImgContainer img {
    max-width: 40vw;
    border-radius: 25px;
}

.flagImgContainer img{
    margin-top: 50px;
    max-width: 35vw; 
    border-radius: 25px;
}

.catContainer h2 {
    color: rgb(240, 156, 0);
}

.factsWrapper{
    background: white;
    border-radius: 25px;
    box-shadow: 5px 5px 8px 4px gray;
    padding: 50px 0 50px 0;
    margin: 20px 50px;
    display: flex ;
    flex-direction: column;
}

.description{
    padding: 20px 8vw 25px 8vw;
}

@media only screen and (max-width: 600px){
    .catImgContainer {
        flex-wrap: wrap;
    }

    .catImgContainer img {
        flex-wrap: wrap;
        max-width: 60vw;
    }
    
    .flagImgContainer img{
        max-width: 40vw;
    }
}