.catBackground {
    padding-top: 93px;
    min-height: 100vh;
    display: flex;
    background-color: #B4BFD1;
    text-align: center;
}

.catBackground h1, h2 {
    font-weight: bolder;
}

.catBackground h1, h3 {
    color: rgb(46, 46, 46);
}

.catBackground h2 {
    color: rgb(240, 156, 0);
}

.catFactDiv {
    display: flex;
}

.catFactDiv h2 {
    color: #4F4F4F;
    font-size: 180%;
    font-weight: 600;
}

.catFactDiv h3 {
    color: rgb(235, 235, 235);
    font-size: 150%;
    font-weight: normal;
}

.catImg {
    background-size: cover;
    background-position: center center;
    flex: 0.9;
}

.factsGrid {
    flex: 1;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
}

.fact1 {
    grid-column: 1/2;
    grid-row: 1;
}

.fact1 h1 {
    color: rgb(243, 243, 243);
    text-shadow: 1px 1px 5px #4F4F4F;
    font-size: 300%;
    font-weight: bold;
}

.fact2 {
    justify-self: center;
    grid-column: 2/3;
    grid-row: 1;
    border-radius: 50%;
    min-width: 200px;
    min-height: 200px;
    width: 300px;
    height: 300px;
    max-width: 20vw;
    max-height: 20vw;
}

.fact2 img {
    object-fit: cover;
    object-position: center center;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    border: inset 6px rgba(255, 255, 255, 0.473);
}

.fact3 {
    padding: 0 5em;
    grid-column: 1/3;
    grid-row: 2;
}

.fact4 {
    padding: 0 5%;
    grid-column: 1/3;
    grid-row: 3;
}

@media only screen and (max-width: 800px) {
    .catFactDiv {
        flex-direction: column;
    }
    .catImg {
        flex: 1 0 400px;
    }
    .factsGrid {
        flex: 1 0 auto;
    }
    .fact1, .fact2, .fact3, .fact4 {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}