.footer {
    display: flex;
    flex-direction: column;
}

.madeBy {
    margin-top: 100px;
    background-color: white;
    color: black;
}

.madeBy a {
    text-decoration: none;
    color: black;
}

.footerImg {
    background-color: white;
    background-image: url(../images/cats-paws.png);
    background-size: contain;
    background-repeat: space ;
    min-height: 80px;
    min-width: 100%;
}