.homeContainer {
    min-height: 100vh;
    background-image: url(../images/catImg-large.jpg);
    background-size: contain;
    padding-top: 5vh;
    background-repeat: round;
}

.searchContainer {
    padding-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchContainer button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: orange;
    color: black;
    border: 1px solid gray;
    padding: 6px;
}

.breedSelection {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 6px;
    width: 40vw;
}

@media only screen and (max-width: 600px) {
    .homeContainer {
        padding-top: 2vh;
    }
}