.homeContainer {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    align-items: stretch;
    background-color: #B8C2D4;
}

.homeImgDiv {
    background-image: linear-gradient( to right, #B8C2D4 4%, #b8c2d46e 15%, #b8c2d433 50%),  url(../images/catImg-large.jpg);
    background-size: cover;
    flex-grow: 1;
    order: 1;
}

.searchContainer {
    align-self: center;
    order: 0;
    flex-grow: 0.2;
}

.searchContainer h2 {
    font-size: 200%;
    margin-bottom: 30px;
    color: rgb(31, 31, 31);
}

.getFactsDiv button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 3vh;
    padding: 12px 16px;
    background-color: orange;
    color: white;
    font-weight: bolder;
    border-radius: 5em;
    border: 2px solid white;
}

.getFactsDiv button:hover {
    background-color: white;
    color: orange;
}

.breedSelection {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid rgb(19, 19, 19);
    border-radius: 5em;
    background: white center url(../images/drop-down-arrow.png);
    background-size: 20px;
    background-position-x: 96%;
    background-repeat: no-repeat;
    padding: 5px;
    width: 18em;   
}

.breedSelection:hover {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .homeContainer {
        display: block;
        background-image: url(../images/catImg-large.jpg);
        background-size: cover;

        text-align: left;
    }

    .searchContainer{
        padding-top: 180px;
        padding-left: 10px;
    }
    .searchContainer h2{
        font-size: 170%;
    }
}