.titleBar {
    background-color: rgba(0, 0, 0, 0.856);
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5vw;
    z-index: 1;
}

.titleBar h1 {
    font-size: 200%;
    font-style: normal;
    text-decoration: none;
}

span {
    color: orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 110%;
}

.titleImg {
    transform: rotate(15deg);
    filter: invert(95%);
    max-height: 60px;
    max-width: 60px;
    margin: 12px 0px 12px 25px ;
    border: solid 2px black;
    border-radius: 50%;
    padding: 8px;
}

.Link {
    text-decoration: none;
    color: rgb(247, 247, 247);
}



@media only screen and (max-width: 600px) {
    .titleBar {
        padding-left: 0;
        justify-content: center;
    }
}