.titleBar {
    background-color: black;
    box-shadow: 0 2px 5px 4px gray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.titleBar h1 {
    font-size: 200%;
    font-style: normal;
    text-decoration: none;
}

span {
    color: orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 110%;
}

.titleImg {
    transform: rotate(10deg);
    filter: invert(95%);
    max-height: 7vh;
    margin: 10px;
    border: solid 2px black;
    border-radius: 50%;
    padding: 7px;
}

.Link {
    text-decoration: none;
    color: rgb(247, 247, 247);
}